html,
body,
ul,
li,
div,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}
ul,
ol,
li {
  list-style: none;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
